{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdproject"
    },
    "cloudant": {
      "db": "https://wandecidderationsuceestr:CMU1LspGS3GtmhIEYY5HOqUt@nobrakes.cloudant.com/asdi"
    }
  }
}
